
body {
    font-family: "silkscreen", Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 0;
    color: black;
}

/*Original Style*/
#background-video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#game-area {
    background-color: rgba(128, 128, 128, 0.329);
    width: 40%;
    align-content: center;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 25px;

}

h1 {
    font-family: "Press Start 2P", arial;
    padding-top: 33px;
    padding-bottom: 33px;
    margin: 0;
    color: white;
}

h3 {
    text-align: center;
}

#closeButton {
    text-align: center;
    cursor: pointer;
}

#closeButton:hover {
    color: white;
}
.navbar {
    background-image:url(assets/media/banner-bg2.jpg);
    padding-top: 0;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#instruction-area {
    padding-top: 70px;
}

#instructions {
    font-size: 25px;
    animation-name: blinkingText;
    cursor: pointer;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}
@keyframes blinkingText{
    from {color: black;} to {color: white;}
}

#gameboard {
    width: 400px;
    height: 400px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/*Styling for individual tiles*/
#gameboard div {
width: 48px;
height: 48px;
border: 1px solid black;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.tile-clicked {
    background: rgb(105, 105, 105);
}

#flag-button, 
#new-game{
    width: 100px;
    height: 50px;
    font-size: 35px;
    background-color: lightgray;
    border: none;
    cursor:pointer;
    
}

#flag-button:hover, 
#new-game:hover {
    background-color: rgb(173, 172, 172);
}

footer {
    background-image:url(assets/media/banner-bg2.jpg);
    padding-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.438);
}

/*Classes for cell number colours*/
.c1 {
    color: blue;
}

.c2 {
    color: green;
}

.c3 {
    color: yellow;
}

.c4 {
    color: orange;
}

.c5 {
    color: red;
}

.c6 {
    color: brown;
}

.c7 {
    color: darkgray;
}

.c8 {
    color: black;
}

/*Responsive Styles*/
@media screen and (max-width: 1100px) {
    #gameboard {
        max-width: 250px; /* Adjust gameboard width for smaller screens */
        max-height: 250px;
        }

    #gameboard div {
        font-size: 90%; /* Reduce font size for smaller screens */
        max-width: 29px;
        max-height: 29px;
    }
    footer {
        margin-top: 135px;
    }

    }



@media screen and (max-width: 700px) {

    #game-area{
        width: 100%
    }
}
